@import 'reset';

body {
    background-color: #161A30;
    color: #B6BBC4;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
    margin: 0; 
}


.box {
    background-color: #31304D;
    color: #B6BBC4;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;

    &__title {
        margin: 5px;
        font-size: 18px;
    }

    @media screen and (max-width: 375px) {
        max-width: 100%; 
        margin: 0 10px; 
    }
}

$form-bg-color: #F0ECE5;
$form-text-color: #161A30;

.form {
    margin-top: 20px; 
    
    &__input {
        width: 95%;
    }

    &__button {
        cursor: pointer;
    }
}

.form__input,
.form__button {
    background-color: #F0ECE5;
    color: #03281f; 
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.box__List {
    list-style-type: none;
    padding: 0;

    li {
        background-color: #B6BBC4;
        color: #161A30; 
        padding: 10px;
        margin: 5px;
        border-radius: 4px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0; 
        }
    }
}

.box__suppression {
    background-color: #F0ECE5;
    color: #2e1202; 
    border: none;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}